## Listas 
son contenedores que permiten almacenar una colección de objetos en un orden determinado .Se pueden acceder, añadir o eliminar objetos de forma sencilla

In [1]:
L1 =[] # lista vacía

In [2]:
L2=['a','e','i','o','u'] # lista con valores iniciales

In [3]:
L3 =[1,3,5,7,11] # lista con valores enteros

In [4]:
L4 = ['a',5,True, "Juan"] # lista heterogenea , varios tipos de datos diferentes

In [5]:
L4

['a', 5, True, 'Juan']

In [22]:
L5 = [0]*10

In [7]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
L4[0] # las listas en python empiezan en la posición número cero

'a'

In [23]:
L5[4]= 3.1415 # modificación de valores

In [10]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [11]:
L4[0:2] # accesos de posiciones múltiples (incluye la primeroa, pero no la última)

['a', 5]

In [12]:
L5[1:4] = [1,2,3]

In [13]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [24]:
L5.append(8) # añade un elemento al final de la lista

In [15]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [16]:
L5.remove(3)# elimina la primera ocurrencia del objeto 3 de la lista L5

In [17]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [18]:
L5.count

In [19]:
L5.reverse()

In [20]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [22]:
L5.count(0) # cuenta las ocurrencias de un elemento

6

In [23]:
L5.index(2) # el elemento 2 se encuentra en la posición nº 7

7

In [24]:
len(L5) # la longitud de la lista L5

10

In [25]:
L=[1,2,3,4,5,6]

In [26]:
L[1::2] # desde la posición 1 hasta el final de dos en dos , elementos en posición par

[2, 4, 6]

In [27]:
L[:] # toda la lista

[1, 2, 3, 4, 5, 6]

In [28]:
L[::2] # toda la lista desde la posición cero hasta el final de dos en dos

[1, 3, 5]

In [29]:
L[-1] # el último elemento de la lista

6

In [30]:
8 in L

False

In [31]:
4 in L

True

## Bucles

Los bucles **for** iteran sobre una colección (una lista, un string , un objeto iterable)

In [32]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [33]:
numero # número es una variable que va cambiando en el bucle y cuando termina se que da en el último valor de la lista

6

In [34]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [35]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [36]:
notas =[3.5,7,8,9,4.5]
suma = 0
for nota in notas:
    suma = suma+nota
print(suma/len(notas))

6.4

### Bucle while 
se repite hasta que una condición deja de ser verdadera

In [37]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [40]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx,p in enumerate(primos): # idx indica la posición y p el valor en esa posición 
    print(idx,p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [42]:
for idx in range(len(primos)):# obtengo las posiciones de los elementos 
    print(idx,primos[idx])# el indice y el valor

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

## Tupla 
Una tupla es una colección de objetos que no se pueden modificar (tiene tamaño y contenido fijo)

In [3]:
p1 = (1,)

In [4]:
p1

(1,)

In [5]:
p2 = (1,2,3,4)

In [6]:
p3 =(1,2,3,'c',3.1415)

In [7]:
p3

(1, 2, 3, 'c', 3.1415)

In [8]:
p3[0]

1

In [9]:
p3[0:3]

(1, 2, 3)

In [11]:
p3

(1, 2, 3, 'c', 3.1415)

In [14]:
a,b,c,d,e =p3 # aqui lo que hago es asignar a las variables a,b,c,d,e los valores de la tupla p3

In [15]:
a

1

In [16]:
b

2

In [17]:
c

3

In [18]:
d

'c'

In [19]:
e

3.1415

In [20]:
l3 =list(p3)

In [21]:
l3

[1, 2, 3, 'c', 3.1415]

In [25]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0, 8]

In [26]:
L5.reverse()

In [27]:
L5.append((1,2,3))

In [28]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 0, 0, 0, 0, (1, 2, 3)]

In [29]:
L5.remove((1,2,3))

In [30]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 0, 0, 0, 0]

In [32]:
p5 = tuple(L5)

In [33]:
p5

(8, 0, 0, 0, 0, 0, 3.1415, 0, 0, 0, 0)

In [34]:
"Hola que tal estás".split(" ")

['Hola', 'que', 'tal', 'estás']

In [36]:
nums="1,2,3,4,5".split(",")

In [37]:
type(nums)

list

In [38]:
tuple(nums)
type(nums)

list

In [41]:
nums=tuple(nums)

In [42]:
type(nums)

tuple

## Diccionarios
-es una colección de pares de valores: claves <-> valores . Se indexa no por posición si no utilizando las claves

In [45]:
nombre ="Juan"
print("Hola %s"%nombre)

Hola Juan

In [47]:
nombre = input("introduce tu nombre")
print("Hola %s"%nombre)

introduce tu nombreJuan
Hola Juan

In [48]:
edad ={
    "Juan":30,
       "Maria":20,
       "Ricardo":53,
       "Antonio":45
}

In [49]:
edad["Ricardo"]

53

In [51]:
edad["Ricardo"]=52

In [52]:
edad

{'Juan': 30, 'Maria': 20, 'Ricardo': 52, 'Antonio': 45}

In [53]:
edad.keys()

dict_keys(['Juan', 'Maria', 'Ricardo', 'Antonio'])

In [54]:
edad.values()

dict_values([30, 20, 52, 45])

In [55]:
len(edad)

4

In [56]:
"Pepe" in edad

False

In [57]:
"Maria" in edad

True

In [59]:
"Jose" not in  edad

True

In [60]:
del edad["Antonio"]

In [61]:
edad

{'Juan': 30, 'Maria': 20, 'Ricardo': 52}